@import "~normalize.scss/normalize";
@import "~bootstrap/scss/bootstrap";

// bootstrap navigation bar
.bg-dark {
  background-color: #103458 !important;
}

p {
  font-size: 0.85em;
  color: #7193c9;
}

a {
  color: #425676;
}