header {
  @media (max-width: 600px) {
    margin-bottom: 35px;
  }

  .navbar {
    margin-bottom: 0;
  }

  @media (max-width: 500px) {
    .nav-item {
      font-size: 1.2em;
      font-weight: normal;
    }
  }

  @media (max-width: 600px) {
    .navbar-nav {
      margin-top: 28px;
      li {
        margin: 4px 0;
      }
    }
  }

  @media (max-width: 767px) {
    nav {
      &.border-effect {
        border-bottom: 8px solid #a2cefb;
      }
    }
  }

  input[placeholder="Search"] {
    padding: 2px 5px 4px 5px;
    width: 132px;
    font-size: 0.8em;
    color: #ffffff;
    background-color: #10263c;
    &:focus, &:focus-within, &:hover, &:visited {
      color: #000;
      background-color: #fff;
    }
  }
  button[type="submit"] {
    padding: 4px 6px 6px 6px;
    height: 29px;
    border-color: #79aad9;
    color: #79aad9;
    font-size: 0.8em;
  }
  .language-flags {
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 234px;
    &.hover {
      position: absolute;
      top: 20px;
    }
    &.active {
      height: 42px;
    }
    .flags-en {
      background: url('/assets/united-kingdom.png') no-repeat;
      text-indent: -9999px;
      display: block;
      width: 25px;
      height: 24px;
      position: relative;
      top: -4px;
      left: -1px;
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: 1px solid white;
      &:hover {
        border: 1px solid white;
      }
      &.active {
        border: 1px solid white;
      }
    }
    .flags-es {
      background: url('/assets/spain.png') no-repeat;
      position: relative;
      top: -4px;
      left: -1px;
      margin: 0;
      padding: 0;
      text-indent: -9999px;
      display: block;
      width: 25px;
      height: 23px;
      cursor: pointer;
      border: 1px solid white;
      &:hover {
        border: 1px solid white;
      }
      &.active {
        border: 1px solid white;
      }
    }
  }
  a {
    &.navbar-brand {
      span {
        &.logo {
          display: block;
          height: 30px;
          font-size: 1em;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          margin: -14px 0 -1px 0;
          border-bottom: 1px solid #fff;
          padding: 0 0 0 0;
        }
        &.mark-webley {
          font-size: 0.5em;
          display: block;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          margin: 0 0 -14px 0;
          padding: 0;
        }
      }
    }
  }

  @media (max-width: 765px) {
    .language-flags {
      position: absolute;
      top: 242px;
      left: 15px;
    }
  }

}


/*
.banner-notices {
  padding: 5px;
  width: 100%;
  margin: -15px auto 0 auto;
  overflow: hidden;
  height: 300px;
  cursor: pointer;
  background: #597bcc;
  p, h1 {
    user-select: none;
  }
}

.header {
  .panel {
    height: 230px;
    padding: 5px;
    &::before {
      content: '';
      border: 1px solid #bfd3ff;
      width: 99%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

footer {
  background-color: #d5ebfa;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 50px;
  ul {
    margin: 0 auto;
    text-align: center;
    font-size: .75rem;
    padding: 15px;
    li {
      list-style-type: disc;
      display: inline-block;
      a {
        color: #296b98;
        padding: 25px 5px 5px 25px;
      }
    }
  }
}
*/