.home {
  .panel {
    height: 230px;
    padding: 5px;
    &::before {
      content: '';
      border: 1px solid #bfd3ff;
      width: 99%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}