.panel-double {

  // for bottom padding only
  @media (max-width: 766px) {
    margin-bottom: 4px;
  }

  --panel-background: url('/assets/486421008.jpg') no-repeat right top;
  --panel-background-standard: url('/assets/depositphotos_11563687-stock-illustration-green-leaf-natural-background.jpg') no-repeat right top;
  //https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&h=350

  $panel-background: '/assets/depositphotos_11563687-stock-illustration-green-leaf-natural-background.jpg';
  :export {
    newPanelBackground: $panel-background
  }

  height: 230px;
  padding: 5px;

  // not sure if this is working
  @media (max-width: 390px) {
    .panel-double-background {
      background-position: right 3px bottom;
      background-size: 100%;
    }
  }

  &::before {
    content: '';
    border: 1px solid #bfd3ff;
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.background {
    &::before {
      background: var(--panel-background);
      background-size: 101%;
    }
  }
  &.background-standard {
    &::before {
      background: var(--panel-background-standard);
      background-size: 101%;
    }
  }
  p, div, section a, ul, h1, h2, h3, h4, h5, h6 {
    position: relative;
    z-index: 2;
  }
  h5 {
    color: #8c8c8c;
    &.big {

    }
  }

  &.p-medium p {
    width: 233px;
  }
}